{% extends "polls/base.html" %}

{% block body %}
    <h2>
        Latest Questions:
    </h2>

    <ul>
        {% if questions %}
            {% for question in questions %}
                <li>
        Question: <a href="{% url 'admin:polls_question_change' question.pk %}">{{ question.pk }} - {{ question.question_text }}</a> Pub Date: {{ question.pub_date }}
                </li>
            {% endfor %}
        {% else %}
            No data to display
        {% endif %}
    </ul>
{% endblock %}
